body {
    padding-top: 90px;
    background-color: rgba(100, 100, 100, 0.4);
    font-family: Noto, Arial, Helvetica, sans-serif;    
}

div.navbar {
    background-color: white;
    color: black;
}

ul.nav.navbar-nav {
    
}

ul.nav li a , 
div.navbar-brand a {
    color: black;
    text-decoration: none;
}

/* Progress Bar */
.progress {
    margin-bottom: 0px;
    background-color: transparent;
    height: 10px;
}
