body {
    padding-top: 90px;
    background-color: white;
    font-family: 'Josefin Sans', 'Noto Sans', Helvetica, sans-serif;
    font-size: 20px;
}

div.wrap-content {
    min-height: 500px; 
}

div.navbar {
    background-color: white;
    color: black;
}

ul.nav.navbar-nav {
    margin-top: 20px;
}

div.navbar-brand{
    padding: 0;
}

ul.nav li a , 
div.navbar-brand a {
    color: black;
    text-decoration: none;
}

div#main_header {
    height: 500px; 
    background-color: rgba(0, 0, 100, 0.7);
}

div#main_header div.container div.jumbotron {
    margin-top: 30px;
}

/* Footer */
footer {
    font-size: 18px;
    font-family: 'Noto Sans', 'Muli', Arial, sans-serif;
    background-color: gray; 
    color: white;
    min-height: 100px;
}