body, html {
  width: 100%;
  height: 100%;
  background: #cccccc;
  color: #fcf0a0;
  margin: 0;
  padding: 0;
  font-family: 'Love Ya Like A Sister',cursive;
  
}
@font-face {
  font-family: 'Love Ya Like A Sister';
  font-style: normal;
  font-weight: 400;
  src: local('Love Ya Like A Sister Regular'), local('LoveYaLikeASister-Regular'), url(http://fonts.gstatic.com/s/loveyalikeasister/v7/LzkxWS-af0Br2Sk_YgSJY5exO0t2s2L--1qxZCB79UQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
canvas {
  background: #cccccc;
  background: linear-gradient(to top, #fc6, #ffc);
  display: block;
  width: 100%;
  height: 100%;
}
.gamedata {
  display: none;
}
.cover {
  position: absolute;
  top: 12px;
  left: 10px;
  right: 10px;
  bottom: 20px;
  color: #FF4500;
  background: #cccccc;
  background: rgba(255,255,255,1.9);
  transition: transform 0.5s;
  -webkit-transform: translate(-120%,0);
  transform: translate(-120%,0);
} 

.info #info {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.win #win {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.error #error {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.intro #intro {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.cover p {
  text-align: center;
  z-index: 2;
  padding: 70px;
  font-size: 5vw;
}
.actionbutton {
  position: absolute;
  bottom: 35%;
  display: block;
  right: 43%;
  line-height: 60px;
  font-size: 45px;
  border: none;
  width: 210px;
  height: 70px;
  background: #040;
  color: #fff;
  border-radius: 25% 20%;
}
.undo {
  position: absolute;
  display: block;
  top: -80px;
  right: 44%;
  border-radius: 25% 20%;
  line-height: 60px;
  background: #00d;
  width: 185px;
  height: 70px;
  color: #FFFFFF;
  font-size: 35px;
  font-weight: bold;
  transition: 0.9s;
}
.win .undo {
  top: 30px;
}

.botonsalir {
  position: absolute;
  top: -80px;
  display: block;
  right: 40px;
  line-height: 60px;
  font-size: 60px;
  font-weight: bold;
  border: none;
  width:  80px;
  height: 80px;
  text-align: center;
  background: #d00;
  color: #FFFFFF;
  border-radius: 50% 50%;
  transition: 0.9s;
}
.play .botonsalir {
  top: 30px;
}
.check p::after {
  content: '✔';
  font-size: 20vw;
  position: absolute;
  top: 29vh;
  z-index: 1;
  left: 43%;
  color: #060;
  color: rgba(0,250,0);
}
.palomita{
  font-size: 3vw;
  position: absolute;
  top: -50vh;
  z-index: 1;
  left: 15%;
  color: #060;
  color: rgba(0,250,0);
  transition: 0.9s;
}
.play .palomita {
  top: 15.5vh;
}
.mala{
  font-size: 4vw;
  position: absolute;
  top: -50vh;
  z-index: 1;
  left: 8%;
  color: #a00;
  color: rgba(250,0,0);
  transition: 0.9s;
}
.play .mala {
  top: 14vh;
}
.control{
  visibility: hidden;
  transition: 0.1s;
}
.play .control {
  visibility: visible;
}
.win .control {
  visibility: visible;
}